[submodule "Akhilesh1004/routing-app"]
	path = Akhilesh1004/routing-app
	url = https://github.com/Akhilesh1004/routing-app.git
[submodule "imyungchu/routing-app"]
	path = imyungchu/routing-app
	url = https://github.com/imyungchu/routing-app.git

[submodule "Tangtang0910/routing-app"]
	path = Tangtang0910/routing-app
	url = https://github.com/Tangtang0910/routing-app.git

[submodule "lai20021015/routingapp"]
	path = lai20021015/routingapp
	url = https://github.com/lai20021015/routingapp.git

[submodule "iriszzzz/routing-app"]
	path = iriszzzz/routing-app
	url = https://github.com/iriszzzz/routing-app.git
